# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Trashes

# Node
node_modules
package-lock.json

# Logs
npm-debug.log
logs
*.log

# Runtime Data
pids
*.pid
*.seed

# Artifacts
dist
