:host {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  box-shadow:
    0px 15px 0 var(--c-primary-a7),
    0px 27px 0 var(--c-primary-a2);
}

* {
  box-sizing: border-box;
}

.logo {
  padding: 15px;
  font-size: 2rem;
  color: var(--c-scuro);
}

nav {
  width: 100%;
  padding: 15px;
}

ul,
li {
  @apply --reset-list;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  display: inline-block;
  padding: 10px;
  color: var(--c-scuro);
  text-transform: capitalize;
  font-size: .9rem;
}

a {
  @apply --reset-link;
  position: relative;
}

li a::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: var(--c-accent);
  transform: rotateY(90deg);
  transform-origin: left;
  will-change: transform;
  transition: transform 150ms ease-in-out;
}

li.selected a::after {
  transform: rotateY(0);
}
