:root {
  --c-chiaro: #fbfbfb;
  --c-scuro: #2d4a50;
  --c-primary: #f5da55;
  --c-accent: #49a3af;

  --c-primary-a2: #f5da5522;
  --c-primary-a7: #f5da5577;

  --cloaked: {
    position: absolute;
    opacity: 0;
  };

  --credits: {
    position: absolute;
    right: 20px;
    bottom: 40px;
    color: rgba(255, 245, 156, 0.77);
  };

  --reset-list: {
    padding: 0;
    margin: 0;
    list-style: none;
  };

  --reset-link: {
    text-decoration: none;
    color: inherit;
  };
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--c-primary);
}
